body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;   /* full viewport width */
    height: 100vh;  /* full viewport height */
    text-decoration: none; /* remove underline */
    color: white;
    cursor: pointer;
    user-select: none;
}

#text-box {
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: none;
    z-index: 0;
    animation: hueShift 10s linear infinite;
}

h1{
    font-size: 220px;
    margin: 40px;
}

@keyframes hueShift {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}