body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;   /* full viewport width */
    height: 100vh;  /* full viewport height */
    text-decoration: none; /* remove underline */
    color: white;
    font-size: 3rem;
    font-family: "Courier New", monospace;
    cursor: pointer;
    user-select: none;
}

#text-box {
    z-index: 3;
    width: 100vw;   /* full viewport width */
    height: 100vh;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    line-height: 100vh;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
  }